/*Mobile*/
.events__container4 {
  position: relative;
  top: 0;
  height: 31rem;
  margin-top: 2.5rem;
  padding-bottom: 2.9375rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .events__container4 {
    height: 17.6875rem;
  }
}
/*Mobile*/
.img__event4 {
  margin-left: 6.5rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .img__event4 {
    margin-left: unset;
  }
}

/*Mobile*/
.event__box4 {
  position: absolute;
  margin-top: 1.2rem;
  left: 0;
  top: 10rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .event__box4 {
    left: 15rem;
    top: 0;
  }
}

/*Mobile*/
.events__container4 h2 {
  margin-left: 4.6rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  line-height: 1.125rem;
  color: var(--color-primary);
  letter-spacing: 0.25rem;
  font-weight: 700;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .events__container4 h2 {
    margin-left: unset;
  }
}

/*Mobile*/
.events__container4 h3 {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.1875rem;
  font-size: 0.9375rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .events__container4 h3 {
    margin-left: unset;
  }
}

/*Mobile*/
.events__container4 p {
  width: 23.625rem;
  text-align: center;
  font-size: 1.0625rem;
  color: #333;
  font-weight: 400;
  line-height: 1.6875rem;
  font-family: "Roboto";
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .events__container4 p {
    width: 31.625rem;
    text-align: unset;
  }
}

/*Mobile*/
.events__container4 button {
  position: absolute;
  right: 5rem;
  top: 24rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .events__container4 button {
    right: 2rem;
    top: 5rem;
  }
}
