@import "./_event1.css";
@import "./_event2.css";
@import "./_event3.css";
@import "./_event4.css";

/*Mobile*/
.events {
  height: 2920px;
  position: relative;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .events {
    height: 1400px;
  }
}

/*Mobile*/
.event__line {
  position: absolute;
  width: 89vw;
  margin: 0 1.3rem;
  top: 30.3rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .event__line {
    width: 65vw;
    position: unset;
    top: unset;
    margin-left: 22.8rem;
  }
}

/*Mobile*/
.event__line3 {
  visibility: hidden;
  position: relative;
  width: 65vw;
  margin-bottom: 0;
  margin-top: 0;
  top: 0;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .event__line3 {
    visibility: unset;
  }
}

.event__line4 {
  visibility: hidden;

  position: relative;
  width: 65vw;
  margin-bottom: 0;
  margin-top: 0;
  top: -61px;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .event__line4 {
    visibility: unset;
  }
}
