.box__focus {
  height: 36rem;
  background-color: #f5f5f5;
  margin: 0;
}

.events__container3 {
  margin-top: 2rem;
  padding-bottom: 2.9375rem;
}

.event__box3 {
  position: absolute;
  right: 35rem;
  left: 39rem;
  top: 42rem;
}

/* .events__container3 img {
  position: absolute;
  left: 23.7rem;
} */

.events__container3 h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  line-height: 1.125rem;
  color: var(--color-primary);
  letter-spacing: 0.25rem;
  font-weight: 700;
}

.events__container3 h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.1875rem;
  font-size: 0.9375rem;
}

.events__container3 p:nth-of-type(1) {
  width: 31.625rem;
  font-size: 1.0625rem;
  color: #333;
  font-weight: 400;
  line-height: 1.6875rem;
  font-family: "Roboto";
}

.events__container3 p:nth-of-type(2) {
  width: 49.75rem;
  font-size: 1.0625rem;
  color: #333;
  font-weight: 400;
  line-height: 1.6875rem;
  font-family: "Roboto";
  margin-top: 5rem;
}

.events__container3 button {
  position: absolute;
  right: 30rem;
  top: 47rem;
}
