.hero-Testimonial {
  position: relative;
  height: 34.625rem;
}

.hero__background-Testimonial {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*Mobile*/
.hero__copy-Testimonial {
  position: absolute;
  bottom: 0;

  right: 9.8rem;
  width: 57vw;
  padding: 0;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .hero__copy-Testimonial {
    right: 0;
    width: 54vw;
    padding: 0;
    padding: 5rem 0.8125rem;
  }
}

/*Mobile*/
.hero__copy-Testimonial h4 {
  color: var(--color-primary);
  letter-spacing: 0.1875rem;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;

  width: 32ch;
  padding-left: 2.5rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .hero__copy-Testimonial h4 {
    width: 54vw;
    padding-left: 0.5rem;
    bottom: 0;
    right: 0;
  }
}

/*Mobile*/
.hero__copy-Testimonial h2 {
  line-height: 7.5rem;
  color: var(--color-primary);
  letter-spacing: -0.3125rem;

  font-size: 3.2rem;
  margin: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .hero__copy-Testimonial h2 {
    font-size: 5.5rem;
    margin: 0;
    margin-bottom: 3rem;
  }
}

/*Mobile*/
.hero__copy-Testimonial p {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  text-align: justify;

  text-align: justify;
  width: 17rem;
  margin-left: 3.3rem;
  color: #fff;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .hero__copy-Testimonial p {
    width: 36.5rem;
    margin-left: unset;
    color: var(--color-copy--alt);
    width: 36.5rem;
    margin-left: unset;
  }
}

/*Seção Hero Copy criada somente para a página Testimonials.html*/

/*********************************************/

/*Mobile*/
.testimonials {
  width: 100vw;
  background-color: var(--color-primary);

  height: 80vh;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .testimonials {
    height: 79vh;
  }
}

/*Mobile*/
.testimonial__container {
  display: grid;
  align-content: center;
  justify-items: center;

  height: 79vh;
  margin-left: -3px;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .testimonial__container {
    height: 75vh;
    margin-left: unset;
  }
}

.testimonial__container img:nth-of-type(1) {
  width: 16.75rem;
  height: 16.875rem;
  clip-path: polygon(60% 0, 100% 50%, 60% 100%, 0 80%, 0 20%);
}

/*Mobile*/
.testimonial__container h1 {
  letter-spacing: -2px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  font-size: 38px;
  width: 19rem;
  margin: 0;
  margin-top: 1rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .testimonial__container h1 {
    font-size: 50px;
    width: unset;
    margin: 0;
    text-align: unset;
  }
}

.testimonial_subtitle {
  display: block;
  text-align: center;
  font-size: 16px;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  letter-spacing: 1px;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .testimonial_subtitle {
    text-align: right;
  }
}

/*Mobile*/
.testimonial__container h6 {
  position: relative;
  top: 1.7rem;
  font-size: 6.5rem;
  letter-spacing: -3px;
  line-height: 3.5rem;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  transform: rotate(0.5turn);

  line-height: 2.5rem;
  margin: 0;
  margin-top: 2rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .testimonial__container h6 {
    line-height: 3.5rem;
    margin: 0;
    margin-top: 1rem;
  }
}

/*Mobile*/
.testimonial__container p {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  line-height: 30px;

  max-width: 19rem;
  text-align: justify;
  margin: 0;
  margin-top: 0.5rem;
  margin-right: 0.8125rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .testimonial__container p {
    max-width: 61ch;
    text-align: center;
    margin: 0;
    margin-top: 0.2rem;
  }
}
