.hero-Testimonial {
  position: relative;
  height: 34.625rem;
}

.hero__background-Testimonial {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*Mobile*/
.hero__copy-Testimonial {
  position: absolute;
  bottom: 0;
  right: 9.8rem;
  width: 57vw;
  padding: 5rem 1.875rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .hero__copy-Testimonial {
    bottom: 0;
    right: 0;
    width: 54vw;
  }
}

/*Mobile*/
.hero__copy-Testimonial h2 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 3.3rem;
  line-height: 7.5rem;
  color: var(--color-primary);
  letter-spacing: -0.3125rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .hero__copy-Testimonial h2 {
    font-size: 5.6rem;
    margin-bottom: 3rem;
  }
}

/*Mobile*/
.hero__copy-Testimonial h4 {
  padding-left: 0.5rem;
  color: var(--color-primary);
  letter-spacing: 0.1875rem;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;
  width: 29ch;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .hero__copy-Testimonial h4 {
    width: unset;
  }
}

/*Mobile*/
.hero__copy-Testimonial p {
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.875rem;
  color: var(--color-copy--alt);
  text-align: justify;
  width: 17rem;
  margin-left: 3rem;
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .hero__copy-Testimonial p {
    color: #fff;
    width: 36.5rem;
    margin-left: unset;
  }
}

/*Seção Hero Copy criada somente para a página Testimonials.html*/

/***********************/

.testimonials {
  width: 100vw;
  height: 79vh;
  background-color: var(--color-primary);
}

.testimonial__container {
  position: relative;
  display: grid;
  height: 75vh;
  align-content: center;
  justify-items: center;
}

.testimonial__container img:nth-of-type(1) {
  width: 16.75rem;
  height: 16.875rem;
  clip-path: polygon(60% 0, 100% 50%, 60% 100%, 0 80%, 0 20%);
}

.testimonial__container img:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 40%;
}

.testimonial__container img:nth-of-type(3) {
  position: absolute;
  left: 0;
  top: 40%;
}

.testimonial__container h1 {
  font-size: 50px;
  letter-spacing: -2px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0;
  margin-top: 1rem;
}

.testimonial1_subtitle {
  display: block;
  text-align: right;
  font-size: 16px;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  letter-spacing: 1px;
}

.testimonial__container h6 {
  position: relative;
  top: 1.7rem;
  font-size: 6.5rem;
  letter-spacing: -3px;
  line-height: 3.5rem;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0;
  margin-top: 1rem;
  transform: rotate(0.5turn);
}

.testimonial__container p {
  max-width: 61ch;
  font-size: 15px;
  color: #000000;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
  margin: 0;
  margin-top: 0.2rem;
  line-height: 30px;
}

.carousel__ellipse {
  display: grid;
  grid-template-columns: 2.5rem 2.5rem 2.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.ellipse1 {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.ellipse2 {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

.ellipse3 {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #fff;
}
