:root {
  --color-copy: #333;
  --color-copy--alt: #ccc;
  --color-primary: #ffc500;
  --default-padding: 1rem;
  --pentagon: "M143.338 39.7875C145.525 38.2625 148.087 37.5 150.637 37.5C153.212 37.5 155.8 38.2875 158 39.825C180.225 55.475 246.8 102.288 269.625 118.35C273.05 120.775 275 124.662 275 128.675C275 130.05 274.775 131.438 274.3 132.788C265.588 157.988 240.95 229.262 232.413 253.95C230.638 259.075 225.788 262.5 220.35 262.5H80.9375C75.5375 262.5 70.7125 259.125 68.9125 254.075C60.1625 229.525 34.7625 158.237 25.7375 132.9C25.2375 131.512 25 130.087 25 128.675C25 124.625 26.9625 120.725 30.4375 118.313C53.6 102.2 120.925 55.375 143.338 39.7875V39.7875Z";
}
